<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%include ../partials/login/login.ejs%>
    <center>
        <h1>Movieloka</h1>
        <table cellpadding="10">
            <tr>
                <td>
                    <a href="/cinema" style="font-size: 20px;">Cinemas</a>
                </td>
                <%if(adminStatus === true) {%>
                <td>
                    <a href="/movie" style="font-size: 20px;">Movies</a>
                </td>
                <%}%>
            </tr>
        </table>
    </center>
</body>
</html>