<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            body{
                 background-color:#334559;
                 margin: 0px;
                
             }
             nav{
                 height: 50px;
                 width: 100%;
                
                 display: block;
                 background-color: black;
                 color: #fafafa;
                 
             }
             nav a{
                color: wheat;
            }
             nav .hello{
                 float: left;
                 padding: 20px;
                 display: block;
                 float:right;
                 margin:5px;
             }</style>
</head>
<body>
        <nav><div class="hello" ><%include ../partials/login/login.ejs%></div></nav>
    <center>
        <h1 style="font-size:70px; color:white;">movieLoka</h1>
        <table cellpadding="10">
            <tr>
                <td>
                    <a href="/cinema" style="font-size: 50px; color: white;">Cinemas</a>
                </td>
                <%if(adminStatus === true) {%>
                <td>
                    <a href="/movie" style="font-size: 50px; color: white;">Movies</a>
                </td>
                <%}%>
            </tr>
        </table>
    </center>
</body>
</html>