<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/cinema">back</a>
    <center>
        <h2>Add Cinema</h2>
        <form method="POST">
            Name:<br>
            <input type="text" name="name">
            <br><br>
            Logo URL:<br>
            <input type="logo" name="logo">
            <br><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>