<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/cinema">back</a>
    <center>
        <h1>Edit Cinema</h1>
        <form method="POST">
            Name:<br>
            <input type="text" name="name" value="<%=cinema.name%>">
            <br><br>
            Logo URL:<br>
            <input type="text" name="logo" value="<%=cinema.logo%>">
            <br><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>