<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%include ../../partials/login/login.ejs%>
    <center>
        <%seats.forEach(seat => {%>
            Ticket<br>
            <%=movie.title%><br>
            <%=cinema.name%><br>
            <%=screening.time%><br>
            <%=seatRow(seat.seatNum)%><br>
            <br>
        <%})%>
    </center>
</body>
</html>