<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%include ../../partials/login/login.ejs%>
    <a href="/movie">back</a>
    <h1>Search For a Movie</h1>

	<form action="/movie/results" method="get">
	    <input type="text" name="search" placeholder="search term">
	    <input type="submit">
	</form>
</body>
</html>